{% extends 'new_portal/default.html'%}

{% load custom_filters %}

{% block title %}Форма по добавлению публикации{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению публикации</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.category }}<br><br>
            {{ form.title }}<br>
            {{ form.full_text }}<br>
            {{ form.data }}<br>
            <span>{{ error }}</span><!--если ошибок не было, то эта переменная будет пустой и мы её не увидим-->
            <button class="btn btn-success" type ="submit">Добавить публикацию</button>
        </form>
    </div>
{% endblock %}
