{% extends 'new_portal/default.html'%}
{% load custom_filters %}

{% block title %}{{ record.title|censorship}}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ record.title|censorship }}</h1>
        <p align="left">дата публикации     <b>{{ record.data|date:'d.M.Y'}}</b></p>
        <p>{{ record.full_text|censorship }}</p>

        <!--А здесь доступ для каждой ссылки теперь будем проверять отдельно-->
        {% if perms.news.delete_record %}
            <a href="{% url 'news_delete' record.id %}" class="btn btn-danger">Удалить</a>
        {% endif %}

        {% if perms.news.change_record %}
            <a href="{% url 'news_updata' record.id %}" class="btn btn-info">Редактировать</a>
        {% endif %}

    </div>
{% endblock %}
